@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: inter, sans-serif;
    background-color: #1e1e1e;
    color: #cfcfcf;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-color: #333;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: #e1dfdf;
}
nav {
    background-color: #222;
    text-align: center;
    display: flex;
    justify-content: center;
}
nav a {
    color: #b1f1b1;
    text-decoration: none;
    border: none;
    transition: 0.2s;
    padding: 10px;
}

nav a:hover {
    border: none;
    background: #333;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
h1, h2 {
    color: #d5e5b5;;
    text-transform: uppercase;
    font-weight: 200;
}
pre {
    background-color: #111;
    padding: 15px;
    overflow-x: auto;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #333333e6;
    color: #888;
    bottom: 0;
    width: 100%;
    position: fixed;
    border-top: 5px solid #6c905747;
    backdrop-filter: blur(5px);
}

a {
    text-decoration: none;
    color: #d5ffd5;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #d5ffd5;
}

button {
    color: #aac7a7;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Inter';
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 2rem;
}

img {
    display: block;
    padding: 1rem 0;
    width: 51%;
}

.space {
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}

.space>img {
    width: 30%;
}

.text {
    font-size: 49px;
}

.text>p {
    color: #d5e5b5;
    font-weight: 100;
}

p.slogan {
    opacity: 0.2;
    font-size: 43px;
}
